html {
	/* Prevent font scaling in landscape while allowing user zoom */
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: helvetica;
	font-size: 16px;
	color: #6f6977;
}

ul {
	padding: 0;
	text-decoration: none;
	margin: 0;
	line-height: 1.5;
}

p {
	line-height: 2;
}

a, button {
	cursor: pointer;
}

button, input, textarea {
	outline: none;
}

.header--landing {
	background: #3f3945;
	background-image: url("../images/baby.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	/* would use 100vh, except google bot renders it incorrectly */
	height: 670px;
	/* max-height is set for google bot to render page correctly */
	max-height: 1050px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.header--site {
	background: #6f6977;
	box-sizing: border-box;
	padding: 0 115px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-nav {
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	display: flex;
	flex-direction: row;
	padding-top: 35px;
	list-style: none;
}

.header-nav a {
	padding: 0 25px;
	color: #6f6977;
	text-decoration: none;
	cursor: pointer;
}

.header-nav a:hover {
	color: #e0a6a5;
}

.header-nav__img {
	height: 22px;
	margin: 11px 15px;
}

.header-nav--site {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	list-style: none;
}

.header-nav--site a {
	padding: 0 20px;
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	cursor: pointer;
}

.header-nav--site a:hover {
	opacity: 1;
}

.header-nav__contact-link {
	display: none;
}

.header-logo {
	height: 350px;
	margin-right: 25px;
}

.header-logo--site {
	height: 75px;
}

.header--m-landing {
	display: none;
}

.header__button {
	font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .5);
    margin-left: 15px;
    background: transparent;
}

.header__button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.about, .testimonials, footer {
	padding: 50px;
	color: #6f6977;
}

.resources, .pricing, .contact, .training {
	padding: 50px 50px 70px;
	color: #6f6977;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main__container {
	width: 600px;
	margin: 80px 15px 120px;
}

.about {
	background: #fff;
}

.about__image {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.about__content {
	max-width: 650px;
}

.training {
	background: #f5f5f5;
	border: solid 1px #eee;
}

.training__sub-title {
	margin: 30px 0 45px;
    max-width: 700px;
    text-align: center;
    line-height: 2;
}

.training-container {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 525px;
    margin: 10px 0;
}

.training__link {
	color: #ffb3b6;
}

.training__logo--long {
	height: 55px;
	opacity: 0.4;
}

.testimonials {
	background: #fff;
}

.testimonial-container {
	display: flex;
	max-width: 900px;
	margin: 10px 0;
}

.testimonial__image {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	flex: 120px 0 0;
	margin: 5px 32px 0 0;
}

.testimonial__name {
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
	color: #ffb3b6;
}

.pricing {
	background: #f5f5f5;
	border: solid 1px #eee;
}

.pricing__title {
	font-family: 'Amatic SC', cursive;
    font-size: 32px;
    margin: 0 0 15px 0;
}

.pricing__price {
	font-family: 'Amatic SC', cursive;
    font-size: 32px;
    color: #ffb3b6;
}

.pricing__list {
    text-align: left;
    margin-top: 15px;
    background: #fff;
    border-radius: 5px;
    padding: 20px 10px 10px 30px;
    font-size: 14px;
}

.pricing__list > li {
	margin-bottom: 10px;
	line-height: 1.25;
}

.pricing__link {
	color: #ffb3b6;
	opacity: 1;
}

.resources {
	background: #f5f5f5;
	border: solid 1px #eee;
}

.resource__link {
	color: #ffb3b6;
}

.contact {
	background: #fff;
}

.contact__form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 900px;
}

.contact__name {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 12px;
	background: #f5f5f5;
	border: solid 1px #eee;
}

.contact__email {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 12px;
	background: #f5f5f5;
	border: solid 1px #eee;
}

.contact__message {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 12px;
	background: #f5f5f5;
	border: solid 1px #eee;
}

.contact__send-btn {
	align-self: flex-start;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    border: none;
    background: #6f6977;
}

.contact__send-btn:hover {
    background: #55505d;
}

.faq__title {
	font-family: 'Amatic SC', cursive;
    font-size: 56px;
    margin: 0;
}

.faq__sub-title {
    margin: 25px 0 40px;
}

.faq__index-title {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 20px;
	margin: 40px 0;
	border-bottom: 1px solid #ddd;
}

.faq__index-questions {
	list-style: none;
}

.faq__index-question {
	color: #ffb3b6;
	text-decoration: none;
	display: block;
    margin: 10px 0;
}

.faq__body-question {
	margin-top: 32px;
}

.faq__footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 75px;
	border-top: 1px solid #ddd;
	margin-top: 40px;
}

.faq__footer > a {
	color: #ffb3b6;
	text-decoration: none;
	font-size: 14px;
}

.faq__footer > a:hover {
	text-decoration: underline;
}

.blog-dir__title {
	font-family: 'Amatic SC', cursive;
    font-size: 56px;
    margin: 0;
}

.blog-dir__sub-title {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 20px;
	margin: 40px 0 0;
	border-bottom: 1px solid #ddd;
}

.blog-dir__posts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
}

.blog-dir__post {
	padding: 25px 0;
	border-bottom: 1px solid #ddd;
}

.blog-dir__post-title {
	color: #ffb3b6;
	font-size: 18px;
	text-decoration: none;
}

.blog-dir__post-title:hover {
	text-decoration: underline;
}

.blog-dir__post-date {
	font-size: 12px;
	margin-right: 0px;
}

.blog-dir__separator {
	font-size: 12px;
	margin: 0 2px;
}

.blog-dir__read-time {
	font-size: 12px;
}

.blog-dir__footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 75px;
}

.blog-dir__footer > span {
	color: #a7a5ad;
	font-size: 14px;
}

.blog__breadcrumbs {
	display: block;
	font-size: 14px;
	margin-bottom: 40px;
}

.blog__breadcrumbs > a {
	color: #ffb3b6;
	text-decoration: none;
}

.blog__breadcrumbs > a:hover {
	text-decoration: underline;
}

.blog__breadcrumbs-arrow {
	margin: 0 8px;
}

.blog__breadcrumbs-dest {
	opacity: 0.6;
}

.blog__title {
	font-family: 'Amatic SC', cursive;
    font-size: 56px;
    margin: 0;
}

.blog__attributes {
	margin: 10px 0 60px;
	opacity: 0.6;
}

.blog__post-date {
	font-size: 14px;
	margin-right: 0px;
}

.blog__separator {
	font-size: 14px;
	margin: 0 2px;
}

.blog__read-time {
	font-size: 14px;
}

.blog__body {
	padding-bottom: 40px;
}

.blog__body > ul {
	margin-left: 25px;
}

.blog__body li {
	margin: 20px 0;
}

.blog__link {
	color: #ffb3b6;
}

.blog__line-break {
	margin: 0;
}

.blog__footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 75px;
	border-top: 1px solid #ddd;
}

.blog__footer > a {
	color: #ffb3b6;
	text-decoration: none;
	font-size: 14px;
}

.blog__footer > a:hover {
	text-decoration: underline;
}

footer {
	background: #6f6977;
}

.footer__social-icons {
    padding: 5px;
    margin: 0 8px;
}

.footer__social-icons:hover {
    opacity: 0.7;
}

.footer__social-icon {
    height: 40px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 25px;
	list-style: none;
}

.footer-nav a {
	font-size: 14px;
	padding: 0 8px;
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.footer-nav a:hover {
	text-decoration: underline;
}

.footer-nav__slash {
	color: #544e5d;
}

.footer-copyright {
	font-size: 14px;
	padding-top: 20px;
	color: #544e5d;
}

/* ============================================================================================== */

.flex-container, .flex-container--centered {
	display: flex;
	justify-content: center;
}

.flex-container--centered {
	align-items: center;
}

.flex-container--columns {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tri-container {

}

.tri-section {
	width: 265px;
	margin: 10px 20px;
	text-align: center;
}

.bi-section {
	margin: 10px 35px;
}

.uni-section {
	max-width: 900px;
}

.section-title, .section-title--center {
	font-family: 'Amatic SC', cursive;
    font-size: 56px;
    margin: 15px 0;
}

.section-title--center {
	text-align: center;
}

.section-title--sm {
	font-size: 34px;
	margin-top: 30px;
}

.section-sub-title {
    margin: 0 0 30px;
    max-width: 600px;
    text-align: center;
    line-height: 2;
    color: #a7a5ad;
}


/* ========================================================================== Thank you page */


.thank-you {
	background: #fff;
	height: 90vh;
	min-height: 550px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.thank-you__title {
	font-family: 'Amatic SC', cursive;
	font-size: 62px;
	margin: 20px 0 10px;
	text-align: center;
}

.thank-you__sub-title {
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	color: #a7a5ad;
	margin: 20px 0;
	text-align: center;
}

.thank-you__home-btn {
	align-self: center;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    color: #FFF;
    padding: 4px 15px;
    border-radius: 3px;
    border: none;
    background: #ffb3b6;
    margin: 10px 0;
}

.thank-you__home-btn:hover {
	background: #e49b9e;
}

/* ========================================================================== Media Queries */

@media (max-width: 1010px) {

	header, .thank-you {
		background-size: 1010px;
		background-position-x: center;
		background-attachment: scroll;
	}

	.header--m-landing {
		background: #6f6977;
		box-sizing: border-box;
		padding: 0 115px;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header--landing {
		display: none;
	}

	.bi-container {
	    flex-direction: column;
	    align-items: center;
	}

	.bi-container .section-title {
		text-align: center;
	}

	.bi-container .about__content {
		text-align: center;
	}

	.bi-section {
		margin: 10px 0;
	}


}

@media (max-width: 925px) {

	.faq__section {
		margin: 10px 25px;
	}
}

@media (max-width: 800px) {

	.tri-container {
	    flex-direction: column;
	    align-items: center;
	}

	.tri-section {
		margin: 10px;
		max-width: 350px;
	}

	.header--site {
	    height: 220px;
	    flex-direction: column;
	    justify-content: space-between;
	    padding: 40px 0 0;
	}

	.section-title, .section-title--center, .blog__title, .blog-dir__title, .faq__title {
	    font-size: 42px;
	}

	body {
		font-size: 14px;
	}

	.header-nav--site {
		width: 100vw;
		height: 50px;
		background: #645f6d;
		align-items: center;
		justify-content: center;
	}

	.header-logo--site {
		height: 100px;
	}

	.header-nav__contact-link {
		display: block;
	}

	.header__button {
		display: none;
	}
}

@media (max-width: 775px) {

	.header-nav {
		font-size: 28px;
	}

	.header-nav a {
		padding: 0 15px;
	}
}

@media (max-width: 725px) {

	.faq__sections {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media (max-width: 694px) {

	.contact__form-container {
		width: 100%;
	}

	.contact__name, .contact__email, .contact__message {
		width: 90%;
	}

	.contact__send-btn {
		align-self: center;
	}
}

@media (max-width: 575px) {

	header {
		height: 100vh;
	}

	.header-nav {
		display: none;
	}

	.header-logo {
		margin: 0;
		height: auto;
	}

	.intro, .about, .faq, .testimonials, .resources, .pricing, .contact, .training {
		padding: 50px 25px;
	}

	.training-container {
		flex-direction: column;
		width: 275px;
	}

	.training__sub-title {
	    margin-bottom: 20px;
	}

	.training__logo--long {
	    margin: 20px 0;
	}

}

@media (max-width: 525px) {
	.thank-you__title {
		font-size: 48px;
	}

	.thank-you__sub-title {
		font-size: 20px;
	}
}

@media (max-width: 500px) {

	.footer-nav {
		display: none;
	}

}

@media (max-width: 475px) {

	.header-logo {
		height: 300px;
	}

	.testimonial-container {
		flex-direction: column;
		align-items: center;
	}

	.testimonial__image {
		margin-right: 0;
	}

	.testimonial__text {
		text-align: center;
	}

}

@media (max-width: 450px) {

	.intro, .about, .faq, .testimonials, .pricing, .contact, .training {
		padding: 50px 15px;
	}

}

@media (max-width: 400px) {

	.header-nav--site a {
		font-size: 13px;
	}

}

@media (max-width: 380px) {

	.header-nav--site a {
		padding: 0 14px;
	}

}